<%= form_with(model: new_product, local: true) do |form| %>
  <% if new_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_product.errors.count, "error") %> prohibited this new_product from being saved:</h2>

      <ul>
      <% new_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
