<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @deliverytrader.name %>
</p>

<%= link_to 'Edit', edit_deliverytrader_path(@deliverytrader) %> |
<%= link_to 'Back', deliverytraders_path %>
