<h1>OWL</h1>
Welcome to OWL!
ようこそ、ダッドウェイ ローカル情報サイトです。
このサイトは社内にて共通に使用されるツールや情報をまとめたものです。
<h2>menu</h2>
<h3>
<li><%= link_to 'adminはこちら', rails_admin_path %></li>
<li><%= link_to 'index', products_path %></li>
<li><%= link_to 'filter', products_filter_path %></li>
<li><%= link_to 'images', contents.images_path , :target=>["_blank"] %></li>
</h3>